@{
    ViewBag.Title = "İletişim";
    ViewBag.Messages = "İletişim sayfanız";

}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Messages</h3>

    <address>

        <strong>

            <abbr title="Phone">Phone: </abbr>

        </strong>

        0539-653-1034

    </address>

    <address>
        <strong>Destek:</strong>   <a href="mailto:eren.ilgn.10@gmail.com"> Destek mail </a><br />
    </address>
</main>