@{
    ViewBag.Title = "ANASAYFA";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title"> İnsan Kaynakları Admin </h1>
        <p class="lead">İnsan Kaynakları admin sayfasına hoş geldiniz.</p>
        <p><a href="https://1.bp.blogspot.com/-wvj6FG7DC7c/Uu0jCkGZC1I/AAAAAAAAAKs/eGY-LSXsdBw/s1600/ugliest-animals-male-proboscis-monkey.jpg" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle"> Linkedin </h2>
            <p>
                Buradan Linkedin sayfama göz atabilirsiniz.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.linkedin.com/in/eren-ilgün/"> Linkedin Eren İlgün &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Github</h2>
            <p>
                Buradan GitHub sayfama göz atabilirsiniz.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.linkedin.com/in/eren-ilgün/"> GitHub Eren İlgün &raquo;</a></p>
        </section>
    </div>
</main>